body {
		background-image:url(https://c5.staticflickr.com/6/5535/22835226948_9c0b61229c_k.jpg);
        background-size: cover;
		background-attachment: fixed;
}
/* #main-container{
	margin-top: 200px; */

#back{
	display: none;

}
#back2{
	display:none;
}
#back3{
	display: none;
}
.return{
	float: left;
}
.return2{
	float:left;
}
.return3{
	float: left;
}
#recipe{
	 float: right;
}


.play{
	margin: auto;
	display: block;
	padding: 10px;
	background-color:seashell;
	border:none;
	border-radius: 5px;
	margin-bottom: 20px;

}
.play:hover {
    cursor: pointer;
    background-color: #b1b1e5;
    transform: scale(1.05);
}
.play:focus {
    outline: none;
}

.play2{
	margin: auto;
	display: block;
	padding: 10px;
	background-color:seashell;
	border:none;
	border-radius: 5px;
	margin-bottom: 20px;

}
.play2:hover {
    cursor: pointer;
    background-color: #b1b1e5;
    transform: scale(1.05);
}
.play2:focus {
    outline: none;
}

.play3{
	margin: auto;
	display: block;
	padding: 10px;
	background-color:seashell;
	border:none;
	border-radius: 5px;
	margin-bottom: 20px;

}
.play3:hover {
    cursor: pointer;
    background-color: #b1b1e5;
    transform: scale(1.05);
}
.play3:focus {
    outline: none;
}

#menu-bar{
	margin-left: 50px;
	display: flex;
	
}
#menu-bar:hover {
    transition: 0.5s ease;
	cursor:pointer;
	

}
#drop-down{
	background-color: darkgray;
	width: 200px;
	height: 200px;
	
}
#drop-down ul{
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}
	
	#drop-down ul li{
		list-style: none;
        padding: 10px;
        cursor: pointer;
	}
	#drop-down ul li:hover {
		color:#F39C12;
		border-radius: 5px;
		transition: 0.5s ease;}

  #heading{
	color: rgb(73, 23, 165);
	font-family:"Optima", serif; 
	 font-size: 54px;
    text-align: center;
  }


h1 {
	font-family:"Optima", serif; 
	 font-size: 54px;
    text-align: center;
     color:#020c0f;
}

h2 {
	font-family:Arial, sans-serif; 
	color: #1b4c02;  
	  text-align:center; 
	margin: 0;
}

h3 {
	color: #4fa799;
	  font-size: 42px;
	 text-align: center;
	margin: 0;
}

p {
	font-family: Arial, sans-serif;
	 color:#96d6e8; 
}

section {
	background-color:white;
	width: 90%;
	padding: 30px;
	 margin: 15px auto;
	box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
section{
	background-image: url(https://previews.123rf.com/images/greek/greek1801/greek180100050/93838311-seamless-ethnic-sayagata-geometric-pattern-vector-ornament-japanese-pattern.jpg);
	background-size: cover;
	
	
}

/* recipe */
div.card-wrapper {
    width: 800px;
/*     height: auto; */
    background-color: white;
    margin: 5vh auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	display: none;
}

div.card-content {
    padding: 1.5em;
    font-family: "Roboto", sans-serif;}

	#dumbling-recipe {
		width: 100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	
	li {
		line-height: 2;
		font-weight: 500;
		color: #9ae23c;
		
	}

	.chef{
		display: flex;
		float: right;
		margin-top: 100px;
	}

#sign-up{
background-color: dodgerblue;
color: #0a0808;
border: none;
border-radius: 5px;
padding: 10px;
display: block;
margin: auto;

}
#sign-up:hover {
    cursor: pointer;
    background-color: #b1b1e5;
    transform: scale(1.05);
}
#sign-up:focus {
    outline: none;
}


.input-form{
	justify-items: center;
	
}
 .input-form input{
	width: 20vw;
	height:5vh;
	
 }
 .input-form label{
	padding: 30px;
 }

 .sub-button{
	margin: auto;
	padding: 10px;
	display: block;
	background-color: dodgerblue;
	border: none;
	border-radius: 5px;
 }

#sign-con{
	margin-left:400px;
	margin-bottom: 400px;
	display: none;
	
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: #e9e9e9;
}

.wrapper{
	width: 100%;
	height: 200vh;
}


.wrapper .modal_box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
	
}

.wrapper .modal_box .modal_bg_shadow{
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.wrapper .modal_box .modal_box_wrap{
	width: 550px;
	height:400px;
	background: rgb(212, 209, 209);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	
}
 
.wrapper .modal_box .modal_box_wrap .modal_close{
	position: absolute;
	top: -25px;
	right: -25px;
	width: 50px;
	height: 50px;
	background: #a3afcc;
	border-radius: 50%;
	cursor: pointer;
}

.wrapper .modal_box .modal_box_wrap .modal_close:before,
.wrapper .modal_box .modal_box_wrap .modal_close:after{
	content: "";
	position: absolute;
	top: 25px;
	left: 13px;
	width: 25px;
	height: 2px;
	background: rgb(238, 227, 227);
}

.wrapper .modal_box .modal_box_wrap .modal_close:before{
	transform: rotate(45deg);
}

.wrapper .modal_box .modal_box_wrap .modal_close:after{
	transform: rotate(130deg);
}

.wrapper .modal_box .modal_box_wrap .modal_header{
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
	height: 60px;
	font-size: 22px;
}	


.wrapper .modal_box .modal_box_wrap .modal_body{
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
	height: calc(250px - 120px);
	font-size: 14px;
	line-height: 21px;
}

.wrapper .modal_box .modal_box_wrap .modal_footer{
	padding: 20px;
	height: 60px;
}

.wrapper .modal_footer .modal_btn_grp{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.wrapper .modal_footer .modal_btn_grp .btn{
	width: 100px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.wrapper .modal_box.active{
	display: block;
}